@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg;
}

p {
    @apply text-lg tracking-wide;
}

/* smooth scrollbar animation */
.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.scroll-container::-webkit-scrollbar {
    width: 0;
}
.scroll-container .scroll-el {
    min-height: 100vh;
    scroll-snap-align: start;
}
/* end */

.profileImg {
    @apply rounded-lg w-[280px] h-[300px] object-cover;
}

.wrapper {
    @apply max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg w-full;
}

.nav-link.active {
    @apply text-blue-700 border-blue-700 dark:text-blue-300 dark:border-blue-300 font-semibold border-b-2 ;
}

.nav-item {
    @apply px-3 py-2 text-gray-600 text-base hover:text-blue-700 dark:text-slate-100 dark:hover:text-blue-300;
}

.nav-link.active .nav-item {
    @apply text-blue-700 dark:text-blue-300 text-lg;
}

.dot {
    @apply content-center inline-block w-1 h-1 rounded-full mx-2;
}
.dot-2 {
    @apply content-center inline-block w-2 h-2 rounded-full mx-2;
}

.project-card {
    @apply bg-white;
}

.project-link:hover .project-title {
    @apply text-green-500;
}

.social-media-link svg {
    @apply flex items-center justify-center fill-blue-500 hover:fill-blue-700 dark:fill-blue-300 dark:hover:fill-blue-500;
}

.project-title:hover h2 {
    @apply rotate-0;
}

/* .shadow-solid-green {
    box-shadow: 8px 8px 0px 0px #22c55e;
} */

.big-view {
    @apply fixed top-0 left-0 bottom-0 right-0 flex justify-center items-center backdrop-blur-sm p-8 m-0 z-50 w-full;
}

.big-view img {
    @apply max-w-[968px] w-full;
}
